.movieListEntry {
    border: 2px;
    padding: 2px;
    border-style: solid;
    border-color: darkgreen;
    color: black;
    margin: 2px;
}

.searchbar {
    margin: 3px;
    align-items: center;
}

.inputbar {
    margin: 3px;
}

.filter {
    border: 1px;
    border-style: solid;
    border-color: rgb(4, 85, 4);
    margin: 2px;
    background-color: lightgrey;
}

body {
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.submitBtn {
    color: darkgreen;
    border-color: darkgreen;
    border-radius: 10px;
    font-weight: bold;
    margin: 3px;
}

.movieListEntry{
    background-color: lightgrey;
}

.watchBtn {
    border-radius: 10px;
}

.navbar {
    border: 1px;
    border-style: solid;
    border-color: rgb(4, 85, 4);
    margin: 2px;
    background-color: lightgrey;
}

.movieList {
    border: 1px;
    border-style: solid;
    border-color: rgb(4, 85, 4);
    margin: 2px;
    background-color: lightgrey;
}